<html>

    

    <H1><%= username %>'s photos</H1>
    <br>
    <table width=200 height=200>
        <tr>
            <td><img src="/images/<%= userphoto %>"  style="width:100%" width></td>
        </tr>
    </table>


    

</html>